/afl-analyze
/afl-analyze.dSYM/
/afl-as
/afl-as.dSYM/
/afl-clang
/afl-clang++
/afl-cmin
/afl-plot
/afl-whatsup
/afl-fuzz
/afl-fuzz.dSYM/
/afl-g++
/afl-gcc
/afl-gcc.dSYM/
/afl-gotcpu
/afl-gotcpu.dSYM/
/afl-showmap
/afl-showmap.dSYM/
/afl-tmin
/afl-tmin.dSYM/
/as
/test-instr.dSYM/
